.more .more__btn-list,
.more .more__suggestions-list {
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
  margin-right: 70px;
}

.more .more__btn,
.more .more__suggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.more .more__btn i {
  background-color: #f2f2f2;
  color: #030303;
}

.more .more__suggestions {
  margin: 30px 0px;
}

.more .more__title {
  margin-bottom: 30px;
}
